.DS_Store
__pycache__/
.ipynb_checkpoints
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/*.txt
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/bar_plot_result
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/summary_*
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/result
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/*.txt
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/bar_plot_result
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/summary_*
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/result
/analysis/3.training_attribution/epidermis/paw/bidirectional_sum_AG/*.txt
/analysis/3.training_attribution/epidermis/paw/bidirectional_sum_AG/summary_*
/analysis/3.training_attribution/epidermis/paw/bidirectional_sum_AG/result
/analysis/3.training_attribution/epidermis/paw/unidirectional_sum_AGFR/*.txt
/analysis/3.training_attribution/epidermis/paw/unidirectional_sum_AGFR/summary_*
/analysis/3.training_attribution/epidermis/paw/unidirectional_sum_AGFR/result
/data/epidermis/paw/W-R1/*
!/data/epidermis/paw/W-R1/lineage.npy
!/data/epidermis/paw/W-R1/segmentation.npy
/data/epidermis/paw/W-R2/*
!/data/epidermis/paw/W-R2/lineage.npy
!/data/epidermis/paw/W-R2/segmentation.npy
/data/simulation/del-div/sample0/*
!/data/simulation/del-div/sample0/lineage.npy
!/data/simulation/del-div/sample0/segmentation.npy
/data/simulation/del-div/sample1/*
!/data/simulation/del-div/sample1/lineage.npy
!/data/simulation/del-div/sample1/segmentation.npy
/analysis/1.preprocessing/epidermis/paw/preprocessing_batch/base_path.txt
/analysis/1.preprocessing/epidermis/paw/preprocessing_batch/error_correction.pickle
/analysis/1.preprocessing/epidermis/paw/preprocessing_batch/input_preprocessing.yml
/analysis/1.preprocessing/epidermis/paw/preprocessing_batch/lineage_filename.txt
/analysis/1.preprocessing/epidermis/paw/preprocessing_batch/segmentation_filename.txt
/analysis/1.preprocessing/simulation/del-div/preprocessing_batch/base_path.txt
/analysis/1.preprocessing/simulation/del-div/preprocessing_batch/error_correction.pickle
/analysis/1.preprocessing/simulation/del-div/preprocessing_batch/input_preprocessing.yml
/analysis/1.preprocessing/simulation/del-div/preprocessing_batch/lineage_filename.txt
/analysis/1.preprocessing/simulation/del-div/preprocessing_batch/segmentation_filename.txt
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/run_analyze_prediction_performance/output_confusion_matrix.txt
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/run_analyze_prediction_performance/output_make_sample_name_list.txt
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/run_analyze_prediction_performance/output_plot_auc.txt
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/run_analyze_prediction_performance/output_plot_performance_vs_time.txt
/analysis/3.training_attribution/epidermis/paw/feature_ZZFR/softmax_to_pool_attribution_batch/gpu.txt
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/run_analyze_prediction_performance/output_confusion_matrix.txt
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/run_analyze_prediction_performance/output_make_sample_name_list.txt
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/run_analyze_prediction_performance/output_plot_auc.txt
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/run_analyze_prediction_performance/output_plot_performance_vs_time.txt
/analysis/3.training_attribution/simulation/del-div/feature_ZZFR/softmax_to_pool_attribution_batch/gpu.txt
/data/simulation/del-div/sample0/analysis/
/data/simulation/del-div/sample0/output_create_network_320_320_0.txt
/data/simulation/del-div/sample0/output_extract_subnetwork_320_320_0.txt
/data/simulation/del-div/sample0/output_preprocessing_DetectNeighborCells_320_320.txt
/data/simulation/del-div/sample0/output_preprocessing_ExportCellStateForCrop_320_320.txt
/data/simulation/del-div/sample0/output_preprocessing_ExtractCellType_320_320.txt
/data/simulation/del-div/sample0/output_preprocessing_SegLabel2CellID2NeighborList_320_320.txt
/data/simulation/del-div/sample0/output_read_network_edit_FL_320_320_0.txt
/data/simulation/del-div/sample0/total_frame.txt
